<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text">
      Диеты
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container__">
    <div class="user_diet">
      <p class="section__title">Ваша диета</p>
      <div class="diet__content">
        <div class="diet__block" *ngFor="let dietUserItem of dietUserItems; let i = index;">
          <div [routerLink]="['../../show-diet/', dietUserItem.id]" class="diet_img" [ngStyle]="imgurlUSER[i]">
            <p class="diet_text">
              {{dietUserItem.title}}
            </p>
          </div>
        </div>
      </div>
      <p class="section__title">Рекомендованные</p>
      <div class="rec__content">
        <div class="rec__block" *ngFor="let dietItem of dietItems; let i = index">
          <div [routerLink]="['../../show-diet/', dietItem.id]" class="diet_img" [ngStyle]="imgurlREC[i]">
            <p class="diet_text">
              {{dietItem.title}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
