.logForm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ion-color-secondary);
    height: 100%;
}

ion-input {
    margin: 0 auto;
}

.list ion-item {
    position: relative;
    right: 10px;
}

ion-button {
    position: relative;
    top: 22px;
    margin-top: 225px;
    font-size: 20px;
    font-weight: 600;
    width: 90%;
    color: var(--ion-color-primary-contrast);
}